{% extends 'spesa/base.html' %}

{% block nav %}
{% include 'spesa/nav.html' %}
{% endblock %}


{% block section %}
<section>

    <p class="h2">Aggiungi prodotto
        <span class="badge badge-secondary badge-info"></span></p>

    <div class="row form-group">

        <form action="/spesa/listaprodotti" method="post" name="prodotti">{% csrf_token %}
            {% for prodotto in prodotti %}
            <div class="col-12 ">

                <div class="row prodotto da-comprare">
                    <div class="col-2 text-center">
                        <input type="checkbox" name="ck{{prodotto.pk}}" value="{{prodotto.id}}">
                    </div>
                    <div class="col-10">
                        {{prodotto}}
                    </div>

                </div>

            </div>
            {% endfor %}
            <div class="col-12 text-center">
                <button type="submit" class="bottome-aggiungi-prodotti">Aggiungi</button>
            </div>
        </form>
    </div>

</section>


{% endblock%}