{% extends 'spesa/base.html' %}

{% block section %}
<section>

    <p class="h2">Da Comprare
        <span class="badge badge-secondary badge-info">{{n_comprato}}/{{n_totale}}</span> </p>

    <div class="row ">

        {% for acquisto, prezzi in da_comprare %}
        <div class="col-12 prodotto da-comprare">

            <div class="row">

                <div class="col-2 ">
                    <form action="/spesa/acquistato/{{acquisto.pk}}">
                        <button type="submit">
                            <i class="material-icons">shopping_cart</i>
                        </button>
                    </form>
                </div>

                <div class="col-10 ">
                    <div>
                        {{acquisto.quantita}}x
                        {{acquisto.prodotto}}
                    </div>
                    <div>
                        {% for prezzo in prezzi%}
                        <div><small>{{prezzo.prezzo}}€ - {{prezzo.negozio}}</small></div>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</section>


<section>

    <p class="h2">Comprati</p>

    <div class="row ">

        {% for acquisto in comprato %}
        <div class="col-12 prodotto comprato">

            <div class="row">

                <div class="col-2 ">
                    <form action="/spesa/riacquista/{{acquisto.pk}}">
                        <button type="submit">
                            <i class="material-icons">add_shopping_cart</i>
                        </button>
                    </form>
                    <form action="/spesa/elimina/{{acquisto.pk}}">
                        <button type="submit">
                            <i class="material-icons">remove_shopping_cart</i>
                        </button>
                    </form>
                </div>

                <div class="col-10 ">
                    <div>
                        {{acquisto.quantita}}x
                        {{acquisto.prodotto}}
                    </div>
                    <!--<div>-->
                        <!--prezzo-->
                    <!--</div>-->
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</section>


{% endblock%}