{% extends 'spesa/base.html' %}

{% block section %}
<section>
    <h1>Da Comprare</h1>

    <div class="row riquadro">
        {% for acquisto in da_comprare %}
        <div class="col-12">
            <p>
                {{acquisto.quantita}}x
                {{acquisto.prodotto}}

            </p>
        </div>
        {% endfor %}
    </div>
</section>

<section>
    <h1>Comprati</h1>

    <ul>
        {% for acquisto in comprato %}
        <li>{{acquisto.prodotto}}</li>
        {% endfor %}
    </ul>
</section>

{% endblock%}