@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body{
  font-family: 'Fjalla One', sans-serif;
}

p.h2{
  color:            pink;
  background-color: MediumVioletRed ;
}

.container-fluid{
  background-color: MediumVioletRed ;
}

.riquadro{
  border:           1px solid black;

}

.prodotto{
  padding:          5px;
  border:           1px solid plum;
  border-top:       2px solid PaleVioletRed   ;
  border-bottom:    2px solid  plum ;

}

.da-comprare{
  color:            MediumVioletRed ;
  background-color: pink ;
}

.comprato{
  color:            MediumVioletRed   ;
  background-color: HotPink  ;
}
