.bottome-aggiungi-prodotti{
  margin:           5px;
}

.comprato{
  background-color: HotPink;
}

.da-comprare{
  background-color: pink;
}

.numero{
  width:            100px;
}

.offerta{
  font-weight:      bold;
}

.prodotto{
  border-bottom:    1px solid #ff99aa;
  border-left:      1px solid #ffe6ea;
  border-right:     1px solid #ff99aa;
  border-top:       1px solid #ffe6ea;
  padding:          5px;
}

.riquadro{
  border:           1px solid black;
}
