
.riquadro{
  border:           1px solid black;

}

.prodotto{
  padding:          5px;
  border:           1px solid plum;
  border-top:       2px solid PaleVioletRed   ;
  border-bottom:    2px solid  plum ;

}

.da-comprare{
  background-color: pink ;
}

.comprato{
  background-color: HotPink  ;
}

.numero{
  width:            100px;
}

.bottome-aggiungi-prodotti{
  margin:           5px;
}
